@font-face {
    font-family: 'Munken Sans Web';
    font-weight: 500;
    src: url(/fonts/MunkenSansWeb-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Munken Sans Web';
    font-weight: 700;
    src: url(/fonts/MunkenSansWeb-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Munken Sans Web';
    font-weight: 900;
    src: url(/fonts/MunkenSansWeb-Bold.woff) format('woff');
}
