:root {
    font-size: 62.25%;

    --color-white: white;
    --color-black: black;
    --color-brand: #fcda09;
    --color-dark-grey: #bfbcb1;
    --color-grey: #e5e4e0;
    --color-light-grey: #f2f2f0;

    font-family: 'Munken Sans Web';
    color: var(--color-black);

    --header-height: 9.7rem;
    --grid-template-columns: repeat(6, 1fr);
    --column-gap: 1rem;

    @media only screen and (min-width: 48.1rem) {
        --header-height: 15.5rem;
        --grid-template-columns: repeat(12, minmax(auto, 12.2rem));
        --column-gap: 1.6rem;
    }
}
