@import 'styles/_fonts.scss';
@import 'styles/_variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: var(--font-family);
    color: var(--color-secondary);
    transition: background-color 0.3s;

    overscroll-behavior: none;
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-scroll-rails: none;
    scrollbar-width: none; /* Firefox */
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
}

#svelte {
    clip-path: none;
}

i {
    font-style: normal;
}
b {
    font-weight: normal;
    display: block;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

button,
input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

h1 {
    word-break: break-word;

    font-size: 6rem;
    line-height: 6rem;
    font-weight: 900;

    @media (min-width: 769px) {
        font-size: 8rem;
        line-height: 8rem;
    }
}
h2 {
    word-break: break-word;

    font-size: 3rem;
    line-height: 4rem;
    font-weight: 900;

    @media (min-width: 769px) {
        font-size: 4rem;
        line-height: 5rem;
    }

    &.small {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 900;

    @media (min-width: 769px) {
        font-size: 1.6rem;
    }
}

a {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 900;

    &.big {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    &.bigger {
        font-size: 3rem;
        line-height: 4rem;
        @media (min-width: 769px) {
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }
}

p {
    word-break: break-word;

    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 500;

    @media (min-width: 769px) {
        font-size: 2.2rem;
        line-height: 3rem;
    }
    &.smaller {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    &.small {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

strong {
    font-weight: 900;
}

li {
    font-size: 1.8rem;

    &.small {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}
