button {
    display: grid;
    grid-auto-flow: column;
    & > span {
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 900;
        @media only screen and (min-width: 769px) {
            font-size: 4rem;
            line-height: 5rem;
        }
    }
}
